/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-custom {
  background: url("/background.svg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* Ensure it grows beyond viewport if needed */
  height: auto; /* Allow it to expand with content */
  width: 100%;
}
